{% extends 'template.html.twig' %}

{% block title %}{% endblock %}

{% block stylesheets %} 

  
{% endblock %}

{% block part %}

	<div class="col-md-12 offset-0">

    	<div class="panel panel-default">

				<div class="container mt-4" style="padding-left:25px;">

					<div style="color:#6B778C;font:14px;">

						Projets / 
						 {% if app.user.projet != null %}
			            		 {{app.user.projet.getTitre()}}  
			           	 {% endif %}
				        / Paramètres du projet

					</div>

					

					<div style="font-size: 1.71429em;font-style: inherit;color: rgb(23, 43, 77);font-weight: 500;letter-spacing: -0.01em;overflow-x: hidden;text-overflow: ellipsis;white-space: nowrap;line-height: 32px;margin-top: 0px;">
								Informations

					</div>
					<br>

					

					{{form_start(form)}}

					<div class="row">
						<div class="col-md-5">{{form_row(form.titre)}}</div>
						<div class="col-md-6">{{form_row(form.description)}}</div>
						
					</div><br>

					<div class="row">
						<div class="col-md-5">{{form_row(form.date_fin)}}</div>
						<div class="col-md-6">{{form_row(form.date_debut )}}</div>
						
						
					</div><br>

					<div class="row">
						<div class="col-md-5">{{form_row(form.statut)}}</div>
					</div><br><br>	

					


					<button class="btn btn-primary">Editer</button>

					{{ form_widget(form._token) }} <!-- render the CSRF Token-->
					{{ form_end(form,{'render_rest': false})}}




				</div>
		</div>
	</div>

{% endblock %}
